@model EngineerModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Инженер</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Education)
        </dd>
        <dt class="col-sm-2">
            Участвовал в работах:
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (MaintenancePlanModel mainPlan in Model.MaintenancePlans)
                {
                <li>
                    <a asp-action="Details" asp-controller="MaintenancesPlan" asp-route-id="@mainPlan.Id">
                        @Html.DisplayFor(model => mainPlan.ServiceType.Name) @Html.DisplayFor(model => mainPlan.ServiceDate)
                    </a>
                </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Список</a>
</div>
</body>
</html>
