@model IEnumerable<EngineerModel>

    <h3>
        Инженеры
    </h3>
    <p class="text-muted">
        Работники сервисного центра, осуществляющие ремонт и проведение планового ТО техники в организации
    </p>

    <p>
        <a asp-action="Create">Добавить</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                        @Html.DisplayNameFor(model => model.FullName)
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.MainSort">
                        @Html.DisplayNameFor(model => model.CountMaintenance)
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </a>

                    </td>
                    <td>
                        @Html.DisplayFor(model => item.CountMaintenance)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Исключить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
