@model IEnumerable<EngineerModel>


    <div class="row">
        <div class="col-md-1">
            <img src="~/Icons/icons8-man-window-50.png"  style="height: 60px;"/>
        </div>
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-11">
                    <h4>
                        Инженеры
                    </h4>
                    <p class="text-muted">
                        Работники сервисного центра, осуществляющие ремонт и проведение планового ТО техники в организации
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <a asp-action="Delete">Исключить</a>
                    |
                    <a asp-action="Create">Добавить</a>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead style="background-color: #b0fff8;">
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                        @Html.DisplayNameFor(model => model.FullName)
                    </a>
                </th>
                <th style="text-align: center">
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.MainSort">
                        @Html.DisplayNameFor(model => model.CountMaintenance)
                    </a>
                </th>
                <th style="text-align: center"></th>
            </tr>
        </thead>
        <tbody style="background-color: rgb(176 255 248 / 0.25);">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </a>

                    </td>
                    <td style="text-align: center">
                        <img src="~/Icons/icons8-обслуживание-50.png" style="height: 30px;"/>
                        @Html.DisplayFor(model => item.CountMaintenance)
                    </td>
                </tr>
            }
        </tbody>
    </table>
