@model IEnumerable<Maintenance.Models.Employee.EngineerModel>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>
        Инженеры
    </h3>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                    @Html.DisplayNameFor(model => model.FullName)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.FullName)
                </a>

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Исключить</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
